.app {
    text-align: center;
    align-items: center;
}

.board {
    display: flex;
    justify-content: flex-start;
    border: 1px solid;
    flex-flow: row wrap;
    margin: auto;
    height: 300px;
    width: 300px;
}

.square {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    border: 1px solid #999;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    width: 100px;
}

.square:hover {
    cursor: pointer;
    background-color: silver;
}