.board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    vertical-align: center;
    border: 1px solid;
    background-color: midnightblue;
    flex-flow: row;
    height: 400px;
    width: 400px;
}