.square {
    display: block;
    background: #fff;
    position: flex-start;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 15em;
    text-align: center;
    width: 15em;
}